html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container{
  text-align: center;
  padding: 40px;
  min-height: 100vh;
  background-image: url("https://img.freepik.com/free-vector/gradient-world-emoji-day-background-with-emoticons_23-2149427636.jpg?t=st=1751012393~exp=1751015993~hmac=6d5d1e8590b8cf29fef845cbb43b68b3d7451f0fae6aac342d43947ab80fb814");
  background-repeat: no-repeat;
  background-size: cover;
}

.buttons{
  margin:20px 0;
}

.btn{
  margin: 10px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: rgb(199, 55, 182);
  border: none;
  border-radius: 6px;

}
